
// Body
$body-bg: #e9edf2;
$sidebar-bg: #34425a;
$secondary01: #22baa0;
$dark01: #374051;
$dark02: #4E5E6A;
$dark03: #74767d;

// Typography
$font-family: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
